<ion-header>
  <ion-toolbar>
    <ion-title>
      Add to List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- id for the form-->
  <form id="trackerForm" [formGroup]="taskForm" >
    <ion-list>
      <!-- title of the page-->
      <ion-list-header>
        Track a task
      </ion-list-header>
      <ion-item>
        <!-- prompt for the user-->
        <ion-input name="taskName" placeholder="Enter name of task/goal" type="text" formControlName="name" >
        </ion-input>
      </ion-item>
      <!-- added disabled feature when nothing is entered into the taskform-->
      <ion-button expand="full" color="tertiary" *ngIf="!started" (click)="save()" [disabled]="!taskForm.valid"> Add to List </ion-button>

    </ion-list>
  </form>
</ion-content>