<ion-header>
  <ion-toolbar>
    <ion-title>
      Add to List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form id="trackerForm" [formGroup]="taskForm" >
    <ion-list>
      <ion-list-header>
        Track a task
      </ion-list-header>
      <ion-item>
        <ion-input name="taskName" placeholder="Enter name of task/goal" type="text" formControlName="name" >
        </ion-input>
      </ion-item>
      <ion-button expand="full" color="tertiary" *ngIf="!started" (click)="save()" [disabled]="!taskForm.valid"> Add to List </ion-button>

    </ion-list>
  </form>
</ion-content>

<!---->
<!-- -->